@font-face {
    font-family: 'Montserrat';
    src:
            url('/fonts/Montserrat-Regular.woff2') format('woff2'),
            url('/fonts/Montserrat-Regular.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src:
            url('/fonts/Montserrat-SemiBold.woff2') format('woff2'),
            url('/fonts/Montserrat-SemiBold.woff') format('woff');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src:
            url('/fonts/Montserrat-Bold.woff2') format('woff2'),
            url('/fonts/Montserrat-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src:
            url('/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
            url('/fonts/Montserrat-ExtraBold.woff') format('woff');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Montserrat';
    background-color: #F5F6F9;
    font-family: arial,sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(68,68,68);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.gui__modes {
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
}

.gui__modes p {
    margin: 0;
}

/* РАДИОКНОПКИ РЕЖИМОВ */
.form_radio_btn {
	display: inline-block;
	margin-right: 10px;
}

.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
    border-top: 5px white solid;
    height: 65px;
    width: 39px;
    /* min-height: 50px; */
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	/* border: 1px solid #999; */
	/* border-radius: 6px; */
	user-select: none;
    vertical-align: middle;
}
.form_radio_btn input[type=radio]:checked + label {
    border-top: 5px #8F00FF solid;
    background: rgba(143, 0, 255, 0.1);
    color: #8F00FF;
	/* background: #ffe0a6; */
}

.radio__label {
    position: relative;
    font-size: 30px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.2);
}

.radio__label span {
    position: absolute;
    top: 21%;
    left: 33%;
}
 
/* Hover */
.form_radio_btn label:hover {
    border-top: 5px rgba(76, 0, 255, 0.4) solid;
    background: rgba(143, 0, 255, 0.02);
	color: rgba(76, 0, 255, 0.4);
}
/* РАДИОКНОПКИ РЕЖИМОВ */

.header {
    text-align: center;
}

.table {
    margin-top: 30px;
    display: flex;
}

.table ul {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 63.5px;
}

.table ul li {
    /* margin: -1px; */
    background-color: rgb(211, 211, 211);
    height: 81px;
    /* border: 1px solid grey; */
}

/* .table ul li:not(:last-child) {
    border: 1px solid grey;
} */

.table__container {
    overflow-x: overlay;
    margin: 0;
    padding-bottom: 30px;
}

.graph {
    /* width: 100%; */
    /* min-height: 250px; */
    text-align: center;
    /* border: 2px solid black; */
}

.graph__body {
}

.graph__tr {
    min-height: 40px;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid grey;
}

/* .signalName {
    width: 80px;
    background-color: rgb(211, 211, 211);
} */

.signalTime {
    height: 30px;
    background-color: rgb(211, 211, 211);
}

.signalValue {
    padding: 0;
    min-width: 80px;
    height: 80px;
    cursor: pointer;
    /* border-top: solid 5px black;
    border-bottom: solid 1px black; */
    /* background-image: url(/img/cart.svg); */
    /* min-height: 40px; */
}

.isOne {
    /* background-color: red; */
    background-image: url(../img/ftline-normal-end.svg);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: -6px -30px;
}

.isZero {
    background-image: url(../img/ftline-normal-end.svg);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: -6px 15px;
}

/* кнопка */

.button15 {
    margin: 20px 0;
}
a.button15 {
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(68,68,68);
    text-decoration: none;
    user-select: none;
    padding: .2em 1.2em;
    outline: none;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
    transition: all .218s ease 0s;
  }
  a.button15:hover {
    color: rgb(24,24,24);
    border: 1px solid rgb(198,198,198);
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
  }
  a.button15:active {
    color: rgb(51,51,51);
    border: 1px solid rgb(204,204,204);
    background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  }
/*  */