@font-face {
    font-family: 'Montserrat';
    src:
            url('../fonts/Montserrat-Regular.woff2') format('woff2'),
            url('../fonts/Montserrat-Regular.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src:
            url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
            url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src:
            url('../fonts/Montserrat-Bold.woff2') format('woff2'),
            url('../fonts/Montserrat-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src:
            url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
            url('../fonts/Montserrat-ExtraBold.woff') format('woff');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

:root {
    --color-black: black;
    --color-white: white;
    --color-main: #8F00FF;
    --color-main-light: rgba(143, 0, 255, 0.1);
    --color-main-low-opacity: rgba(76, 0, 255, 0.4);
    --color-main-light-low-opacity: rgba(143, 0, 255, 0.03);
    --color-background-main: #F5F6F9;
    --size-cell-width: 80px;
    --size-cell-height: 80px;
    /* --size-cell-background-one: 0 -20px;
    --size-cell-background-zero: 0 20px; */
}
  
html {
    /* zoom: 0.67; */
    /* transform: scale(0.67); */
    font-family: "Montserrat", sans-serif;
    outline: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: var(--color-background-main);
    font-size: 20px;
    font-weight: 600;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 10000;
}

.loader__img {
    position: absolute;
    top: calc(50% - (64px/2));
    left: calc(50% - (64px/2));
    /* left: calc(50% - 64px); */
}

.disabled {
    opacity: 0.4;
}

.gui__modes {
    padding-left: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 100;
}

.gui__modes p {
    margin: 0;
}

.pagination {
    /* position: absolute;
    right: 300px;
    top: 7%; */
    margin: 0px 40px;
    padding-top: 5px;
    width: 270px;
    display: flex;
    justify-content: space-between;
}

.pagination span {
    padding: 17px 0;   
}

.pagination .button15 {
    margin-right: 0px !important;
    padding: 5px 10px;
}

/* РАДИОКНОПКИ РЕЖИМОВ */
.form_radio_btn {
	display: inline-block;
	margin-right: 10px;
}

.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
    border-top: 5px white solid;
    height: 65px;
    width: 39px;
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	user-select: none;
    vertical-align: middle;
}
.form_radio_btn input[type=radio]:checked + label {
    border-top: 5px var(--color-main) solid;
    background: var(--color-main-light);
    color: var(--color-main);
}

.form_radio_btn input[type=radio]:checked + label span {
    top: 15px;
}

.form_radio_btn input[type=radio]:checked + .radio__label_toOne span {
    top: 16px;
}

.radio__label {
    position: relative;
    font-size: 30px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.2);
}

.radio__label span {
    position: absolute;
    top: 12px;
    left: 36%;
    transition: top ease-in-out 0.05s;
}

.radio__label_toOne span {
    top: 12px;
    left: 41%;
}
 
/* Hover */
.form_radio_btn label:hover {
    border-top: 5px var(--color-main-low-opacity) solid;
    background: var(--color-main-light-low-opacity);
	color: var(--color-main-low-opacity);
}

.form_radio_btn label:hover span {
    top: 15px;
}

.form_radio_btn .radio__label_toOne:hover span {
    top: 16px;
} 

.radio__label_editor span {
    top: 13px;
    left: 27%;
}

.form_radio_btn:nth-child(4) {
    margin-right: 200px !important;
}

.gui__modes li .button15 {
    margin: 0;
    margin-right: 10px;
    box-shadow: unset;
    height: 44px;
    font-size: 32px;
}
/* РАДИОКНОПКИ РЕЖИМОВ */

.header {
    text-align: center;
}

.table {
    margin-top: 30px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.table ul {
    /* min-width: 145px; */
    display: flex;
    flex-direction: column;
}



.table ul li {
    padding: 0 50px;
    height: calc(var(--size-cell-height) + 1.50px);
    cursor: pointer;
}

.table ul li:first-child {
    height: calc(var(--size-cell-height) + 2.35px);
}

.table__container {
    overflow-x: scroll;
    margin: 0;
    border-left: 3px var(--color-main) solid;
}

.graph {
    text-align: center;
    border-collapse: collapse;
}

.graph__tr {
    min-height: 40px;
}

td {
    border: 1px solid black;
}

.signal__item { 
    
    position: relative;
    
    /* margin-bottom: 10px; */
}

.group_arrow {
    padding: 0 11px;
    left: -3px;
    position: absolute;
    height: calc(var(--size-cell-height) + 1px);
    /* width: 14%; */
    width: 15px;
}

.signalName {
    margin: 0;
    text-align: center;
    width: 100%;
    pointer-events: none;
    /* position: absolute;
    top: 30%;
    left: 1%; */
    line-height: var(--size-cell-height);
}

.signal_group_name {
    padding: 0 5px 0 40px !important;
    /* padding-left: 60px !important; */
}

.signal__clock {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ghost svg {
    display: none;
}

.signal__clock_part {
    height: 100%;
    /* width: 33%; */
}


.signal__item:hover {
    opacity: 0.5;
}
.signal__item:active {
    background-color: var(--color-main-light);
}
.signalName_selected {
    background-color: var(--color-main);
    color: var(--color-white);
}

.table__select_all {
    padding: 0 !important;
    text-align: center;
    position: relative;
    height: auto !important; 
}

.signalTime {
    height: 30px;
    background-color: var(--color-main-low-opacity);
}

.signalValue {
    padding: 0;
    min-width: var(--size-cell-width);
    height: var(--size-cell-height);
    cursor: pointer;
}

.signal_level {
    height: calc(var(--size-cell-height)/2);
    width: 100%;
}

.isOne {
    border-top: 8px solid var(--color-black);
}

.isZero {
    border-bottom: 8px solid var(--color-black);
}

.signalValue:hover {
    background-color: var(--color-main-light);
}

.isSelected {
    background-color: var(--color-main-light);
}

.signal_disabled {
    /* cursor: default !important; */
    opacity: 0.4;
    /* background: gainsboro; */
}

.signal_disabled_cell {
    cursor: default !important;
    opacity: 0.4;
    /* background: gainsboro; */
}

/* кнопка */

.button15_send {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.button15 {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 15px;
    font-weight: 800;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-decoration: none;
    border: 3px var(--color-main) solid;
    color: var(--color-main);
    transition: transform ease-in-out 0.02s;
}
.button15:hover {
    opacity: 0.8;
}

.button15_send:active {
    transform:  translate(-50%,2px);
}
/* TOOLBAR */
.toolbar {
    border: 2px var(--color-main) solid;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 1000px;
    padding: 10px 20px 0;
    background: var(--color-white);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 99;
}

.toolbar span{
    margin-right: 10px;
}

.clearSelected {
    color: var(--color-main);
    font-size: 24px;
    cursor: pointer;
}

.clearSelected:hover {
    opacity: 0.5;
}

.toolbar ul {
    padding-bottom: 10px;
    margin-top: 5px;
    display: flex;
    border-bottom: 1px var(--color-main) solid;
}

.toolbar ul li {
    height: 50px;
    margin-right: 15px;
    cursor: pointer;
}

.toolbar span {
    text-align: center;
}

.toolbar .button15 {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 0 0;
}

.generator {
    margin-right: 0;
    padding-top: 0;
    width: 55%;
    cursor: unset !important;
    display: flex;
    justify-content: space-between;
    display: table-cell;
    vertical-align: middle;
}

.generator span {
    font-size: 28px;
    line-height: 45px;
}

.generator label {
    line-height: 50px;
}

.generator input {
    width: 39px;
    height: 29px;
    padding-left: 10px;
}

.generator label, .generator input {
    margin-right: 15px;
}

.generator input[type=checkbox] {
    position: relative;
    top: 5px;
}

.button15__signal_name {
    /* width: 135px; */
    width: 100%;
    /* padding: 3px 5px; */
    margin: 0;
    padding: 0 !important;
    font-weight: 600;
    /* top: 0;
    left: 0; */
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    box-shadow: none;
    line-height: 57px;
    /* position: absolute; */
}

.moveSignal {
    left: -59px;
    top: -1px;
    height: 112px;
    justify-content: space-between;
    position: absolute;
    display: flex;
    flex-direction: column;
}

/* SWIPE ANIMATION */
.swipe-leave-active{
    display: none;
}

.swipe-enter, .swipe-leave-active{
    opacity: 0;
}

/* selectColorChose */

.selectColorChose {
    margin-left: 40px;
}

.selectColorChose select {
    margin-right: 20px;
    height: 100%;
    width: 70px;
}

.selectColorChose span {
    font-size: 28px;
    line-height: 45px;
}

@media (max-width: 1440px) {
    :root {
        --size-cell-width: 40px;
        --size-cell-height: 40px;
    }
    /* html {
        background: #8F00FF;
    } */
    /* РАДИОКНОПКИ РЕЖИМОВ */
    .form_radio_btn {
        margin-right: 10px;
    }

    .form_radio_btn label {
        border-top: 3px white solid;
        height: 32px;
        width: 19px;
        padding: 0px 7px;
        line-height: 17px;
    }
    .form_radio_btn input[type=radio]:checked + label {
        border-top: 3px var(--color-main) solid;
    }

    .form_radio_btn input[type=radio]:checked + label span {
        top: 7px;
    }

    .form_radio_btn input[type=radio]:checked + .radio__label_toOne span {
        top: 8px;
    }

    .radio__label {
        font-size: 20px;
        font-weight: 800;
    }

    .radio__label span {
        position: absolute;
        top: 9px;
        left: 30%;
    }

    .radio__label_toOne span {
        top: 9px;
        left: 38%;
    }
    
    /* Hover */
    .form_radio_btn label:hover {
        border-top: 3px var(--color-main-low-opacity) solid;
    }

    .form_radio_btn label:hover span {
        top: 7px;
    }

    .form_radio_btn .radio__label_toOne:hover span {
        top: 8px;
    } 

    .radio__label_editor span {
        top: 9px;
        left: 20%;
    }

    .form_radio_btn:nth-child(4) {
        margin-right: 200px !important;
    }

    .gui__modes li .button15 {
        margin: 0;
        margin-right: 10px;
        height: 14px;
        font-size: 15px;
    }
    /* РАДИОКНОПКИ РЕЖИМОВ */

    .button15 {
        padding: 5px 6px 10px;
    }

    .pagination {
        width: unset;
        padding-top: 3px;
    }

    .pagination span {
        margin: 0 10px;
        font-size: 18px;
        padding: 3px 0;
    }

    .pagination .button15 {
        padding: 2px 10px 8px;
    }

    .signalName, .button15__signal_name {
        font-size: 12px;
    }

    .button15__signal_name {
        line-height: 31px;
    }
    
    .table ul li {
        height: calc(var(--size-cell-height) + 1px);
        padding: 0 30px;
    }

    .button15__signal_name {
        padding: 0 !important;
    }

    .signalTime {
        height: unset;
        font-size: 12px;
    }

    .button15_send {
        font-size: 18px !important;
        padding: 10px 10px 10px;
    }

    .toolbar {
        width: 560px;
    }

    .toolbar span {
        font-size: 16px;
    }

    .toolbar a {
        font-size: 12px;
        padding: 5px 6px 6px;
    }

    .toolbar ul li {
        height: unset !important;
        margin-right: 8px;
    }
    
    .selectColorChose span {
        line-height: 16px;
    }

    .selectColorChose select {
        height: unset !important;
        width: 35px;
    }

    .generator span {
        font-size: 16px;
    }

    .generator label {
        font-size: 12px;
    }

    .generator input {
        font-size: 12px;
        width: 27px;
        height: 17px;
    }

    .generator label, .generator input {
        margin-right: 6px;
    }

    .moveSignal {
        left: -35px;
        height: 84px;
    }
}